EXPO_PUBLIC_MQTT_HOST=BROKER-URL
EXPO_PUBLIC_MQTT_PORT=BROKER-PORT
EXPO_PUBLIC_MQTT_PATH=/mqtt
EXPO_PUBLIC_MQTT_USER=BROKER-USERNAME
EXPO_PUBLIC_MQTT_PASS=BROKER-PASSWORD
EXPO_PUBLIC_ADDRESS=NGROK-URL